<ion-view view-title="PESAN">
    <ion-drawer-vertical-wrapper class="has-header" direction="down" state="opened" delegate-handle="first">
        <div class="tabs-top tabs-background-light tabs-color-positive" style="color:#88C057">
            <div class="tabs" style="border:0;outline:0;top:0;height:3em;">
                <a class="tab-item {{daily}}" style="border-bottom:{{daily == 'active' ? '5px solid #88C057' : '5px solid #ecf0f1'}};font-size:90%;" ng-click="previous()" ng-show="slideIndex = 1">
                    <p style="margin-top:-0.5em;color:#88C057"> PILIH BAHAN </p>
                </a>
                <a class="tab-item {{weekend}}" style="border-bottom:{{weekend == 'active' ? '5px solid #88C057' : '5px solid #ecf0f1'}};font-size:90%;" ng-click="next()" ng-show="slideIndex = 2">
                    <p style="margin-top:-0.5em;color:#88C057"> KONFIRMASI </p>
                </a>
            </div>
        </div>
        <ion-drawer-vertical-content>

            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" style="padding:0;">

                <ion-slide style="height:auto;padding:0;">
                    <!-- Start : Monday - Friday -->
                    <div class="row" style="margin-top:35px;height:auto;">
                        <input id="input" style="margin-top:1em;font-size:10px;width:100%;padding:20px;border-bottom: 1px solid #ecf0f1 !important;text-align:center" ng-model="searchGrocery" type="text" 
                        placeholder="Cari Bahan"  required />
                    </div>
                    <div class="row" style="margin-top:3px">
                        <ion-list class="currency" style="width:100%;">
                            <ion-item ng-repeat="list in grocerys | filter : searchGrocery" class="item" style="padding:3px;border:0;">
                                <div class="row" style="padding:0;margin:0;font-family:'Lato'">
                                    <div class="col col-10">
                                        <ion-checkbox style="border-width:0;width:50px;margin-top:0.2em;text-overflow:ellipsis;white-space:nowrap;" ng-click="maxCheck($index)" ng-model="selected[$index]" ng-change="tesslected($index,selected)"> </ion-checkbox>
                                    </div>

                                    <div class="col col-30">
                                        <p style="margin-top:0.7em;margin-left:4em;font-size:12px;padding-right:3px;letter-spacing1px;">{{list.grocery}}</p>
                                    </div>
                                    <div class="col col-30" style="background-color:rgba(236, 240, 241, 0.5);">
                                        <p style="margin-top:0.7em;font-size:9px;font-weight:bold;padding-left:3px;padding-right:3px;">{{list.price}}/{{list.satuan}}</p>
                                    </div>
                                    <div class="col col-30">
                                        <input type="text" placeholder="Berapa?" style="font-size:12px;" required />
                                    </div>
                                </div>
                            </ion-item> 
                            <div class="col col-50">
                                <img ng-src="img/button-add.png" ng-click="openTerms()">
                            </div>
                            <div ng-show="sellerTerms" class="list" style="width:100%;padding:0px 20px 0px 20px">
                                <label class="item item-input" style="border-radius:8px;">
                                    <textarea placeholder="Catatan : untuk tambahan pesanan ini akan kami konfirmasikan secepat mungkin" style="font-size:12px;width:100%;height:3em;text-overflow:ellipsis;white-space:wrap;height:5em;padding:5px;"></textarea>
                                </label>
                            </div>                    
                        </ion-list>
                    </div>
                    <div class="row" style="padding:20px;">
                        <div class="col col-100"> 
                            <div style="position:fixed;left:1.5em;text-align:left;line-height:1.5px;">
                                <p style="top:-0.5em;bottom:0;color:black;font-size:12px;font-family:'Lato'">Total Belanjaan Sementara</p>
                                <p style="top:0.5em;bottom:0;color:black;font-weight:bold;font-size:13px;font-family:'Calibri Light'">Rp. 10000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:20px;">
                        <button class="button button-block" ng-click="next()" style="border-radius:0;background-color:#88C057 !important;border:0;outline:0;color:white;bottom:0;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);">Lanjutkan</button>
                    </div>
                    
                    <!-- End : Monday - Friday -->
                </ion-slide>

                <ion-slide>
                    <!-- Start : Saturday & Sunday -->
                    <div class="row" style="margin-top:35px;height:auto">
                        <div class="col col-100" style="padding:20px;">
                            <label class="item item-input" style="border-radius:8px;margin-top:0.5em;">
                                <textarea placeholder="Catatan : untuk tambahan pesanan ini akan kami konfirmasikan secepat mungkin" style="font-size:12px;width:100%;height:3em;text-overflow:ellipsis;white-space:wrap;height:5em;padding:5px;" required></textarea>
                            </label>

                            <div class="row" style="padding:20px;">
                                <div class="col col-100"> 
                                    <div style="position:fixed;left:1.5em;text-align:left;line-height:1.5px;">
                                        <p style="top:-0.5em;bottom:0;color:black;font-size:12px;font-family:'Lato'">Total Belanjaan Sementara</p>
                                        <p style="top:0.5em;bottom:0;color:black;font-weight:bold;font-size:13px;font-family:'Calibri Light'">Rp. 10000</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="padding:20px;">
                                <div class="col col-50">
                                    <button class="button button-block" ng-click="previous()" style="border-radius:0;background-color:#ecf0f1 !important;border:0;outline:0;color:88C057;bottom:0;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);font-size:12px;">Kembali</button>
                                </div>
                                <div class="col col-50">
                                    <button class="button button-block" ng-click="submitBooking()" style="border-radius:0;background-color:#88C057 !important;border:0;outline:0;color:white;bottom:0;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);font-size:12px;">Pesan</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End : Saturday & Sunday -->
                </ion-slide>

            </ion-slide-box>

        </ion-drawer-vertical-content>

        <ion-drawer-vertical-handle />

    </ion-drawer-vertical-wrapper>     

        <a style="z-index:1 !important;position:fixed;bottom:0.8em;left:0.5em;margin:0;cursor:pointer;font-size:10px;font-weight:bold;color:#2980b9;display:block;background-color:#fbfbfb;padding:5px;width:auto;box-shadow:0 2px 5px rgba(0, 0, 0, 0.25);text-transform:uppercase;" ng-click="toggleDrawer()">{{'expand'| translate}}</a>

    <ion-content scroll="true" style="z-index: -1 !important;">   
        <div id="map" data-tap-disabled="true"></div>         
    </ion-content>

</ion-view>